#Lifestyle Disease Prediction

##Mounting drive and installing dependencies

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('drive/My Drive/out.csv',delimiter=',')
data.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,Unnamed: 11
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,NaN
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,NaN
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,NaN
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,NaN
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,NaN

In [0]:
data.drop(['Unnamed: 11'],axis=1,inplace=True)

###Taking the max out of the three columns i.e Diabetes, Hypertension, Depression

In [0]:
data["output"]=data[["Depression","Diabetes","Hypertension"]].idxmax(axis=1)

In [6]:
data.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,output
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,Diabetes
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,Hypertension
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,Diabetes
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,Depression
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,Diabetes

###Converting String to numeric values

In [0]:
def out(str):
    if str== "Depression" :
        return 1
    elif str == "Diabetes":
        return 2
    else :
        return 3
       
data["output"] = data["output"].apply(out)

In [8]:
data.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,output
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,2
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,3
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,2
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,1
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,2

In [0]:
x=data.iloc[:,0:8]
y=data.iloc[:,11:12]

In [10]:
x.head()

   Age  Bmi  Drinking  Excercise  Gender  Junk  Sleep  Smoking
0   46   15         1          1       1     2      1        0
1    8   34         1          2       0     1      2        0
2   63   15         0          3       0     3      1        0
3   42   32         0          2       0     2      2        1
4   45   30         0          2       1     1      1        1

In [11]:
y.head()

   output
0       2
1       3
2       2
3       1
4       2

##Using Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x,y)
lr.score(x,y)

0.3656720998543148

##Using Random Forest

In [13]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor()
clf.fit(x,y)
clf.score(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.9394622003412038

## Converting the model to pickle format to be used in web-app

In [0]:
import pickle

with open ("model.pkl","wb") as f:
    pickle.dump(clf,f)